<footer>
	<div id="copyright">
	  <div class="row full-width">
	    <div class="large-4 columns">
	      <p>&copy; 2013 Njooh.</p>
	    </div>
	    <div class="large-8 columns">
	      <ul class="inline-list right">
	        
	        <li>
	        	<%= link_to('About Us', about_path) %>
	        </li>
	        
	      </ul>
	    </div>
	  </div>
	</div>
</footer>