<footer>
	<div id="copyright">
	  <div class="row full-width">
	    <div class="large-4 columns">
	      <p>&copy; 2013 Njooh Systems ,Ltd.</p>
	    </div>
	    <div class="large-8 columns">
	      <ul class="inline-list right">
	        <li><a href="#">Work @ Njooh</a></li>
	        <li><a href="#">About Us</a></li>
	        <li><a href="#">Developer</a></li>
	        <li><a href="#">Contact Us</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
</footer>