<% provide(:title,'About Us')%>
<div class="row">	
  <div class="large-2 columns">
  	<p></p>
  </div>
  
  <div class="large-8 columns">
  	<h1 class="subheader">About Us</h1>
 	<p>
 		Njooh is a platform to share content such as blogs, music, photos and microblogs with other njooh users. The users also get to interact directly with entertainment and recreational facilities such as hotels. <p>
 	</p>
  </div>
  
  <div class="large-2 columns">
  	<p></p>
  </div>
</div>