<% provide(:title,'About Us')%>
<div class="row">	
  <div class="large-2 columns">
  	<p></p>
  </div>
  
  <div class="large-8 columns">
  	<h1 class="subheader">About Us</h1>
 	<p class="subheader">
		Njooh is an African social Network
	</p>
	<p class="subheader">
		More content comming soon..
	</p>
  </div>
  
  <div class="large-2 columns">
  	<p></p>
  </div>
</div>