<% provide(:title,'Careers')%>
<div class="row">	
  <div class="large-2 columns">
  	<p></p>
  </div>
  
  <div class="large-8 columns">
  	<h1 class="subheader">Work @ Njooh!</h1>
 	<p class="subheader">
		Find interesting career opportinities at Njooh and take your life to the next level..
	</p>
	<p class="subheader">
		More content comming soon..
	</p>
  </div>
  
  <div class="large-2 columns">
  	<p></p>
  </div>
</div>