<% provide(:title, 'Contact Us')%>
<div class="row">	
  <div class="large-2 columns">
  	<p></p>
  </div>
  
  <div class="large-8 columns">
  	<h1 class="subheader">Contact Us</h1>
 	<p class="subheader">
		Contact the Njooh team at devmensei@gmail.com
	</p>
	<p class="subheader">
		More content comming soon..
	</p>
  </div>
  
  <div class="large-2 columns">
  	<p></p>
  </div>
</div>