<% provide(:title,'Add A Place')%>
<div class="row">	
  <div class="large-2 columns">
  	<p></p>
  </div>
  
  <div class="large-8 columns">
  	<h1 class="subheader">Create New Place</h1>
 	<%= render 'form' %>

	<%= link_to 'Back', places_path %>
  </div>
  
  <div class="large-2 columns">
  	<p></p>
  </div>
</div>

